@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
body{
    margin: 0%;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px
}
.fondoDegradadoVerdeMorado{
    background: rgba(33,192,139,1);
    background: -moz-linear-gradient(top, rgba(33,192,139,1) 0%, rgba(92,29,252,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,192,139,1)), color-stop(100%, rgba(92,29,252,1)));
    background: -webkit-linear-gradient(top, rgba(33,192,139,1) 0%, rgba(92,29,252,1) 100%);
    background: -o-linear-gradient(top, rgba(33,192,139,1) 0%, rgba(92,29,252,1) 100%);
    background: -ms-linear-gradient(top, rgba(33,192,139,1) 0%, rgba(92,29,252,1) 100%);
    background: linear-gradient(to bottom, rgba(33,192,139,1) 0%, rgba(92,29,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21c08b', endColorstr='#5c1dfc', GradientType=0 );

}

.fondoMorado{
    background-color: #8F57FD;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu--perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu--perfil p{
    padding-right: 10%;

}
.menu__perfil--perfil{
    margin-right: 1%;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff

}
.header__menu ul{
    list-style: none;
    padding: 0%;
    position: fixed;
    display: inline;
    text-align: right;
    display: none;
    margin: 0 0px 0px 0;
    right: 2%;
}
.header__menu:hover ul, il:hover{
    display: block;
}
.header__menu li {
    
    margin: 10px 0px
}

.header__menu li a{
    text-decoration: none;
    color: #fff;
}
.buscador{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buscador h2{
    color: #fff;;
}
.input{
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    outline: none;
    color: #fff;
    padding-left: 3%;
}
.input::placeholder{
    color: #fff;
}
.buscador input{
    width: 80%;
    height: 50px;
}
.carrusel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carrusel__contenedor{
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}
.carrusel--item{
    background: blue;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    color: #fff
}
.carrusel--item:hover ~ .carrusel--item{
transform: translate3d(100px,0,0)
}
.carrusel__contenedor:hover .carrusel--item{
    opacity: 0.3;
}
.carrusel__contenedor:hover .carrusel--item:hover{
    transform: scale(1.5);
    opacity: 1;

}
.carrusel--item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carrusel--item__detalle{
    background: linear-gradient(to top, rgba(0, 0, 0, 0, 0.9),rgba(0, 0, 0, 0, 1));
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0px;
    right: 0;
    text-align: center;
}

.carrusel--item:hover .carrusel--item__detalle{
    opacity: 1;
}

.inicioSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.login{
    width: 350px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 30px;

}
